.single-product {
  max-width: 350px;
  margin: 60px auto;
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
}

.single-product img {
  max-width: 100%;
}

.link-btn {
  text-decoration: none;
  border: 1px solid #ddd;
  padding: 12px 30px;
  display: inline-block;
  background-color: #f9f9f9;
  color: #313131;
  font-weight: 600;
  text-transform: capitalize;
}

.product-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  max-width: 900px;
  margin: 60px auto;
  border-radius: 5px;
}

.product-detail div.padding {
  padding: 30px;
}

.incDec {
  display: flex;
  align-items: center;
}

.incDec button, .incDec h4 {
  margin-right: 10px;
}

.incDec button {
  padding: 0px 10px;
  font-size: 28px;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 38px;
  flex-direction: column;
}