.single-product {
  max-width: 350px;
  margin: 60px auto;
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
}

.single-product img {
  max-width: 100%;
}

.link-btn {
  text-decoration: none;
  border: 1px solid #ddd;
  padding: 12px 30px;
  display: inline-block;
  background-color: #f9f9f9;
  color: #313131;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 5px;
}

.product-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  max-width: 900px;
  margin: 60px auto;
  border-radius: 5px;
}

.product-detail div.padding {
  padding: 30px;
}

.incDec {
  display: flex;
  align-items: center;
}

.incDec button, .incDec h4 {
  margin-right: 10px;
}

.incDec button {
  padding: 0px;
  font-size: 28px;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  line-height: 30px;
  text-align: center;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 38px;
  flex-direction: column;
}
.product-detail .product-figure{
  width: 40%;
}
.product-detail .product-detail {
  width: 60%;
}
.slick-slide img {
  max-width: 100%;
}
.thumbnail-slider-wrap .slick-track .slick-slide img {
  margin: 0 auto;
}








.thumbnail-slider-wrap {
  margin-top: 15px;
  height: 85px;
}
.thumbnail-slider-wrap .slick-track .slick-slide {
  text-align: center;
}
.thumbnail-slider-wrap .slick-track .slick-slide img {
  width: 70%;
}